<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>iToDo</title>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="todo.css">

	<script type="text/javascript" src='angular.js'></script>
	<script type="text/javascript" src='itodo.js'></script>
</head>
<body>
	<div ng-app="iToDo">
		<div ng-controller="ToDoController">
			<div id="todos">
				<h2>{{appName}}</h2>
				<!-- input section -->
				<form ng-submit="addTodo()">
					<input ng-model='todoText' type="text" class="form-control" required placeholder="input something to do..." />
				</form>

				<!-- mark secion -->
				<div class="checkbox" ng-show='hasItem()'>
					<label>
						<input ng-model='isDoneAll' ng-click="doneAll()" type="checkbox">标记所有为已解决
					</label>
				</div>

				<!-- weight & finsihed -->
				<div ng-show="hasItem()">
					<div class="btn-group btn-group-sm">
					<button class="btn btn-default" ng-click="predicate='text'">内容</button>
					<button class="btn btn-default" ng-click="predicate='time'">时间</button>
					<button class="btn btn-default" ng-click="predicate='weight'">权重</button>
					<button class="btn btn-default" ng-click="predicate=''">默认</button>
					</div>

					<div class="btn-group btn-group-sm">
					<button class="btn btn-default" ng-click="finish='true'">已完成</button>
					<button class="btn btn-default" ng-click="finish='false'">未完成</button>
					<button class="btn btn-default" ng-click="finish=''">全部</button>
					</div>
				</div>
				
				<br>

				<!-- todo list -->
				<div ng-show="hasItem()">
					<div ng-repeat="todo in todos | orderBy:predicate | filter:{'done':finish}" >
						<ul class="list-unstyled color" ng-hide="todo.edit">
							<li ng-repeat="color in [4,3,2,1]" class="color-{{color}}" ng-click="todo.weight=color"></li>
						</ul>

						<div class="alert color-{{todo.weight}}" ng-dblclick="startEdit(todo)" ng-hide="todo.edit">
							<input type="checkbox" ng-model='todo.done'>
							<span class="line-{{todo.done}}">{{todo.text}}</span>
							<button class="close" ng-click='remove(todo)'>×</button>
							<p class="pull-right">{{todo.time}}</p>
						</div>

						<form ng-show="todo.edit">
							<input ng-model='todoText' type="text" class="form-control" required value={{todo.text}} />
							<br>
						</form>


					</div>
				</div>

				<!-- footer -->
				<div ng-show="hasItem()">
					<span class="label label-warning">{{count()}}</span> 项为未完成
				</div>

			</div>
		</div>
	</div>
</body>
</html>